:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.pixelify-sans-invitation {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes volar {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  25% {
    transform: translateX(-40%) translateY(-20px);
  }

  50% {
    transform: translateX(-50%) translateY(0);
  }

  75% {
    transform: translateX(-60%) translateY(20px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes latir {
  0% {
    transform: translateY(0) scale(1);
  }

  25% {
    transform: translateY(-8px) scale(1.1);
  }

  50% {
    transform: translateY(0) scale(1);
  }

  75% {
    transform: translateY(4px) scale(0.9);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveAndFadeRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes moveAndFadeLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes moveAndViewRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes moveAndViewLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes Fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes View {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.csView {
  animation: View 3s ease-in 1;
}

.csFade {
  animation: Fade 3s ease-in-out;
}

.csFadeImage {
  animation: Fade 3.5s ease-in-out 1;
}

.csSlideRight {
  animation: moveAndFadeRight 5s infinite;
}

.csSlideLeft {
  animation: moveAndFadeLeft 5s infinite;
}

.csViewRight {
  animation: moveAndViewRight 3s 1;
}

.csViewLeft {
  animation: moveAndViewLeft 3s 1;
}

.cslatir {
  position: absolute;
  text-align: center;
  z-index: 100;
  /* Ajusta el valor según sea necesario */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  margin: auto;
  animation: latir 1.5s ease-in-out infinite;
  border: none;
  /* Quita el borde predeterminado del botón */
  background: transparent;
  /* Hace el botón transparente */
  cursor: pointer;
  /* Cambia el cursor a mano al pasar por encima */
}

.csvideo {
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
  background-image: "url('/contenido.mp4')";
  background-size: "cover";
  background-position: "center";
  display: "flex";
  align-items: "center";
  justify-content: "center";
  transition: "opacity 0.5s";
  opacity: 1;
  backface-visibility: "hidden";
  animation: "myAnimation 20s 2";
}

@keyframes myAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.miSizeLetter {
  font-size: "4rem";
}

.carousel {
  display: flex;
  overflow-x: hidden;
}

.slide {
  flex: 0 0 100%; /* Cada slide ocupa el 100% del ancho */
  transition: transform 0.5s ease-in-out;
}
.slick-prev,
.slick-next {
  color: blue;
}

.csSubtitleCard {
  width: 100%;
  text-transform: uppercase;
  font-family: "Helvetica";
  color: #a36548;
  letter-spacing: 1.5px;
}

.csContentCard {
  width: 100%;
  font-family: "'fira code','courier prime',monospace";
  font-weight: bold;
  font-size: 1.5rem;
  color: #a9b0a3;
  padding-left: 30px;
}

.csCountdown {
  font-family: "Franklin Gothic";
  font-weight: bold;
  color: "#A9B0A3";
}

.csCountdownContent {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: "#A9B0A3";
}

.csSliderVintage {
  width: 100%;
  height: 100%;
  padding: 0rem;
  margin: 0rem;
}
