:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes volar {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  25% {
    transform: translateX(-40%) translateY(-20px);
  }

  50% {
    transform: translateX(-50%) translateY(0);
  }

  75% {
    transform: translateX(-60%) translateY(20px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes latir {
  0% {
    transform: translateY(0) scale(1);
  }

  25% {
    transform: translateY(-8px) scale(1.1);
  }

  50% {
    transform: translateY(0) scale(1);
  }

  75% {
    transform: translateY(4px) scale(0.9);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

.cslatir {
  position: absolute;
  text-align: center;
  z-index: 100;
  /* Ajusta el valor según sea necesario */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  margin: auto;
  animation: latir 1.5s ease-in-out infinite;
  border: none;
  /* Quita el borde predeterminado del botón */
  background: transparent;
  /* Hace el botón transparente */
  cursor: pointer;
  /* Cambia el cursor a mano al pasar por encima */
}

.csvideo {
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
  background-image: "url('/contenido.mp4')";
  background-size: "cover";
  background-position: "center";
  display: "flex";
  align-items: "center";
  justify-content: "center";
  transition: "opacity 0.5s";
  opacity: 1;
  backface-visibility: "hidden";
  animation: "myAnimation 20s 2";
}

@keyframes myAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}
